<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}App Name Goes Here{% endblock %}
        </title>
        <link rel="stylesheet" href='{{ static("css/main.css") }}'>
        <!--  -->
        <script src='{{static("js/hyperscript.min.js")}}'></script>
        <!--  -->
        <script src='{{static("js/htmx.min.js")}}'></script>
        <script src='{{static("js/htmx-sse.js")}}'></script>
        <script src='{{static("js/htmx-ws.js")}}'></script>
    </head>
    <body class="base font-sans m0 p0">
        <main class="container mx-auto min-h-screen flex flex-col">
            {% block main %}{% endblock %}
        </main>
    </body>
    <!-- django debug toolbar with htmx -->
    {% if debug %}
        <script>
            if (typeof window.htmx !== "undefined") {
                htmx.on("htmx:afterSettle", function(detail) {
                    if (
                        typeof window.djdt !== "undefined" &&
                        detail.target instanceof HTMLBodyElement
                    ) {
                        djdt.show_toolbar();
                    }
                });
            }
        </script>
    {% endif %}
</html>
