{% extends 'base.html' %}
{% block main %}
    <div class="flex-1 flex flex-col items-center justify-center">
        <div class="card w-full max-w-80">
            <form method="post" class="form">
                <h1 class="text-center m0 mb2">Register</h1>
                {{ csrf_input }}
                {% for error in form.non_field_errors() %}<span class="block text-sm text-red-6">{{ error }}</span>{% endfor %}
                {% for field in form %}
                    <fieldset class="flex flex-col border-none px0">
                        {{ field.label_tag() }}
                        {% for error in field.errors %}<span class="block text-sm text-red-6">{{ error }}</span>{% endfor %}
                        {{ field }}
                        <!-- help text -->
                        <div class="text-sm text-muted">{{ field.help_text|safe }}</div>
                    </fieldset>
                {% endfor %}
                <button type="submit"
                        class="button w-full !primary flex gap4 items-center justify-center text-1rem">
                    <span>Register</span>
                    <div class="i-carbon-login"></div>
                </button>
            </form>
        </div>
        <p class="text-center">
            Already have an account? <a href='{{ url_for("users:login") }}?next={{ next }}' class="link">Login</a>
        </p>
    </div>
{% endblock %}
